<head>
    <link rel="stylesheet" type="text/css" href="design/header.css">
</head>
<div>
    <a href="mainpage.html" target="_parent">
        <img src="../data/img/logo.png" alt="logo MinePlace" class="logo">
    </a>
    <div id="header_buttons">
        <div id="option" style="display: none;">
            <a href="page_mon_compte">
                <img src="../data/img/command block.webp">
                Options</a>
        </div>
        <div id="logout" style="display: none;">
            <a href="#">
                <img src="../data/img/head.webp">
                Se déconnecter</a>
        </div>
        <div id="login" style="display: flex;" onclick="btn_login_onclick()">
            <img src="../data/img/head.webp">
            <p>Se connecter</p>
        </div>
    </div>
</div>
<nav>
    <ul>
        <li>
            <input id="search" type="text" name="search" value="" placeholder="Recherche">
            <img src="../data/img/longue vue.png" alt="" class="spyglass">
        </li>
        <li><a href="deposer_annonce.html">Déposer une annonce</a></li>
        <li><a href="mes_annonces.html">Mes annonces</a></li>
        <li><a href="mes_parcelles.html">Mes parcelles</a></li>
    </ul>
</nav>