<head>
  <title>nous_contacter</title>
  <link rel="stylesheet" type="text/css" href="design/nous_contacter.css">
  <link rel="stylesheet" type="text/css" href="design/login.css">
  <link rel="stylesheet" type="text/css" href="design/main.css">
  <link rel="stylesheet" type="text/css" href="design/header.css">
  <link rel="stylesheet" type="text/css" href="design/footer.css">
  <link rel="icon" type="image/png" href="../data/img/logo carré.png">
  <script src="javascript/popup.js"></script>
  <script src="javascript/fetch.js"></script>
</head>

<body>

  <div id="popup_login" style="display: none;">
    <p class="quit" onclick="btn_cancel_onclick()">×</p>
    <h1>Connexion</h1>
    <input type="text" name="search" id="inputid" placeholder="Identifiant">
    <input type="password" name="search" id="inputmdp" placeholder="Mot de passe">
    <a href="" id="forgot_password">Mot de passe oublié ?</a>
    <label id="connexionError" class="labelError" style="visibility: hidden;" n> Identifiant ou mot de passe incorrecte
      !</label>
    <div>
      <button class="btn_secondary" onclick="btn_signin_onclick()">Créer un compte</a>
        <button class="btn_primary" id="btnSeconnecter">Se connecter</button>
    </div>
  </div>

  <div id="popup_signin" style="display: none;">
    <p class="quit" onclick="btn_cancel_onclick()">×</p>
    <h1>Nouveau compte</h1>

    <input type="text" name="search" value="" placeholder="Identifiant">
    <input type="text" name="search" value="" placeholder="Nom">
    <input type="text" name="search" value="" placeholder="Prénom">
    <input type="text" name="search" value="" placeholder="Adresse mail">
    <input type="password" name="search" value="" placeholder="Mot de passe">
    <input type="password" name="search" value="" placeholder="Confirmer le Mot de passe">
    <div>
      <button class="btn_secondary" onclick="btn_return_onclick()">Retour</button>
      <button class="btn_primary" onclick="signIn()">Créer</button>
    </div>

  </div>

  <header>
    <div>
      <a href="mainpage.html" target="_parent">
          <img src="../data/img/logo.png" alt="logo MinePlace" class="logo">
      </a>
      <div id="header_buttons">
          <div id="option" style="display: none;">
              <a href="page_mon_compte">
                  <img src="../data/img/command block.webp">
                  Options</a>
          </div>
          <div id="logout" style="display: none;">
              <a href="#">
                  <img src="../data/img/head.webp">
                  Se déconnecter</a>
          </div>
          <div id="login" style="display: flex;" onclick="btn_login_onclick()">
              <img src="../data/img/head.webp">
              <p>Se connecter</p>
          </div>
      </div>
  </div>
  <nav>
      <ul>
          <li>
              <input id="search" type="text" name="search" value="" placeholder="Recherche">
              <img src="../data/img/longue vue.png" alt="" class="spyglass">
          </li>
          <li><a href="deposer_annonce.html">Déposer une annonce</a></li>
          <li><a href="mes_annonces.html">Mes annonces</a></li>
          <li><a href="mes_parcelles.html">Mes parcelles</a></li>
      </ul>
  </nav>
  </header>

  <main>
    <div>
      <h1>vous avez une question ? besoin d'aides ? contactez nous !</h1>
      <p> Bienvenue sur notre page de contact. Nous sommes là pour vous aider en cas de problème lors de l'achat
        d'une parcelle ou si vous avez détecté une fraude ou un bug sur notre site. Vous pouvez également nous
        contacter si vous souhaitez retirer une de vos annonces prématurément, à condition d'avoir une excuse
        raisonnable. S'il vous plaît utilisez le formulaire ci-dessous pour nous envoyer un message et nous vous
        répondrons dans les plus brefs délais. Nous apprécions votre soutien et sommes impatients de vous aider
        à résoudre tout problème que vous pourriez rencontrer. </p>
      <article>
        <p>envoyé à : oneapasdemailpro@gmail.com
          <br>
          objet : mettez votre type de problème ou de question
          <br>
          corps : veuillez indiqué <br>
          si votre question concerne le site ou le serveur :<br>
          votre pseudo : <br>
          votre question/problème : <br>
          <br>
          <br>
        </p>

      </article>
      <article>
        <p> Nous vous invitons à nous signaler tous les problèmes que vous pourriez rencontrer afin que nous
          puissions améliorer l'expérience de nos utilisateurs.
        </p>
      </article>
    </div>
  </main>

  <footer>
    <a href="">Personnalisation des cookies</a>
<a href="conditions_legales.html">Conditions de vente et d'achats</a>
<a href="nous_contacter.html">Nous contacter</a>
  </footer>

</body>