
/********************************************************/
/* CONTENU PRINCIPAL (SECTION)                          */
/********************************************************/

section > *{
    border-radius: 8px;
}

section{
    width: 98vw;
    display: flex;
    flex-flow: row wrap;
    margin: 2vh 1vw;
}

aside{
    background-color: rgba(var(--primary-color),0.75);
    width: 25vw;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

main{
    width: 40vw;
    background-color: rgba(var(--primary-color),0.75);
    padding: 16px;
}

main > *{
    margin-bottom: 8px;
}

h3{
    width: fit-content;
    border-radius: 16px;
    padding: 4px 8px;
    color: var(--textcolor);
    font-weight: none;
}

#deadline {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#deadline input{
    width: 45%;
}

#images{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#images > * {
    margin: 4px 8px;
}

.image{
  background-color: rgba(var(--secondary-color),0.8);
  border-radius: 8px;
}

.image p{
    margin: 8px 0 4px 8px;
    color: var(--textcolor);
}

.image input{
    background-color: rgb(var(--tertiary-color));
}

#boutons{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 32px 0;
    justify-content: space-evenly;
}

textarea{
    resize: none;
    width: 100%;
    height: 10%;
    border-radius: 8px;
}

#boutons a{
    background-color : rgb(var(--primary-color));
    color: var(--textcolor);
    padding: 8px;
    border-radius: 8px;
    font-size: 32px;
}

#boutons button{
    background-color : rgb(var(--primary-color));
    color: var(--textcolor);
    padding: 8px;
    border-radius: 8px;
    border: 0;
    font-size: 32px;
    cursor:pointer;

}
#boutons button:hover{
    background-color: rgb(var(--secondary-color));
}
#description_deposer_annonce {
    color : black;
}
