main {
  margin: 2vh 1vw;
  width: 96vw;
  height: 80vh;
  border-radius: 8px;
  background-color: rgba(var(--primary-color), 0.8);
  border: 6px solid rgb(var(--secondary-color));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page_parcelle_tableau{
  width: 100%;
  margin: 2vh 2vw;
}

main > div{
  display: flex;
  flex-flow: row nowrap;
}

#fleche {
  cursor: pointer;
  padding: 4px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 0 0 8px 0 ;
  background-color: rgb(var(--secondary-color));
  display: flex;
  justify-content: center;
  align-items: center;
}

#entete {
  margin: 16px 32px;
}

.forme_parcelle {
  display: flex;
}

.description {
  background-color: rgba(var(--secondary-color), 0.8);
  padding: 8px;
  height: fit-content;
  border-radius: 8px;
}

#entete h1 {
  color: var(--textcolor);
}

#entete h2 {
  color: var(--textcolor);
}

#second{
  justify-content: space-around;
  height: 50vh;
}

table {
    border-radius: 8px;
    text-align: center;
    width: 100%;
    background-color: rgb(var(--primary-color));
    border-spacing: 0px;
    border: 3px solid black;
}

table th {
    border-bottom: 2px solid black;
}

table td {
    max-width: 1%;
}

table * {
    padding: 0.5em;
  color: var(--textcolor);
}

.titre_auteur {
  margin-left: 0.5em;
}

.tete_du_main {
  display: flex;
}

.page_parcelle_file_dariane {
  margin-top: 0.5em;
}

#encherir input{
  border-radius: 0;
  background-color: white;
  width: 64px;
  color: black;
  padding: 8px;
  border-radius: 8px 0 0 8px;
}

#encherir{
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

.page_parcelle_description{
  width: 60vw;
  height: 100%;
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#encherir button{
  border-radius: 0;
  border: 0;
  padding: 8px;
  color: black;
  border-radius: 0 8px 8px 0;
}

.slider-container {
  max-width: 800px;
  position: relative;
  margin-left: 5em;
  height: 400px;
  width: 550px;
  overflow: hidden;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#encheres{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 50%;
}

.enchere{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: rgba(var(--secondary-color),0.9);
  padding: 16px 4px;
  border-radius: 8px;
  margin : 4px 0;
}

.enchere *{
  width: 30%;
  display: flex;
  justify-content: center;
  color: var(--textcolor);
}

.enchere input{
  background-color: rgb(var(--tertiary-color));
  width: auto;
  text-align: center;
}


.menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.menu label:hover, .menu label:focus {
  background: #1c87c9;
}

.slide-input {
  opacity: 0;
}

.slide-img {
  height: 350px;
  width: 550px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
}

[id^="slide"]:checked+.slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.5s ease-out;
}

.page_parcellefooter {
  display: flex;
  margin: 1em;
  font-weight: bold;
}